<div class="multiselect-option">
    <input type="checkbox" id="desktopModelAll"
           class="form-check-input"
           onchange="toggleDesktopAllModels(this)">
    <label class="form-check-label w-100" for="desktopModelAll">
        Все модели
    </label>
</div>

{% regroup models by brand as brand_list %}
{% for brand in brand_list %}
<div class="brand-section">
    <div class="multiselect-brand-header">
        {{ brand.grouper.name }}
    </div>
    {% for model in brand.list %}
    <div class="multiselect-option model-option" data-brand="{{ brand.grouper.slug }}">
        <input type="checkbox" id="desktopModel{{ model.id }}"
               value="{{ model.slug }}"
               data-name="{{ model.name }}"
               data-brand="{{ brand.grouper.slug }}"
               class="form-check-input desktop-model-checkbox"
               onchange="updateDesktopSelectedModels()">
        <label class="form-check-label w-100" for="desktopModel{{ model.id }}">
            {{ model.name }}
        </label>
    </div>
    {% endfor %}
</div>
{% endfor %}


