<div class="multiselect-option">
    <input type="checkbox" id="desktopModificationAll"
           class="form-check-input"
           onchange="toggleDesktopAllModifications(this)">
    <label class="form-check-label w-100" for="desktopModificationAll">
        Все модификации
    </label>
</div>

{% for modification in modifications %}
<div class="multiselect-option modification-option" data-generation="{{ modification.generation.slug }}">
    <input type="checkbox" id="desktopModification{{ modification.id }}"
           value="{{ modification.slug }}"
           data-name="{{ modification.name }}"
           data-generation="{{ modification.generation.slug }}"
           class="form-check-input desktop-modification-checkbox"
           onchange="updateDesktopSelectedModifications()">
    <label class="form-check-label w-100" for="desktopModification{{ modification.id }}">
        {{ modification.name }}
    </label>
</div>
{% endfor %}


