<a href="javascript:void(0)" class="list-group-item list-group-item-action" onclick="selectAllTruckTypes()">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="mobileTruckTypeAll">
        <label class="form-check-label w-100" for="mobileTruckTypeAll">
            Все типы техники
        </label>
    </div>
</a>
{% for type in truck_types %}
<a href="javascript:void(0)" class="list-group-item list-group-item-action">
    <div class="form-check">
        <input class="form-check-input mobile-truck-type-checkbox" type="checkbox"
               value="{{ type.slug }}" id="mobileTruckType{{ type.id }}"
               data-name="{{ type.name }}">
        <label class="form-check-label w-100" for="mobileTruckType{{ type.id }}">
            {{ type.name }}
        </label>
    </div>
</a>
{% endfor %}


