<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="logoutModalLabel">Подтвердите выход</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите выйти из системы?
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <form method="post" action="{% url 'accounts:logout' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% url 'shop:index' %}">
          <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
      </div>
    </div>
  </div>
</div>