<div class="modal fade" id="carTypesModal" tabindex="-1" aria-labelledby="carTypesModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-back" onclick="closeCarTypesModal()">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <h5 class="modal-title mx-auto" id="carTypesModalLabel">Выберите тип кузова</h5>
                <button type="button" class="btn btn-outline-secondary btn-sm sbros" onclick="resetCarTypeFilter()">
                    Сбросить
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group" id="carTypesModalList">
                    {% include "shop/partials/mobile_car_types_modal_list.html" %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" onclick="applyCarTypeFilter()">Применить</button>
            </div>
        </div>                               
    </div>
</div>