<div class="modal fade" id="specialTypesModal" tabindex="-1" aria-labelledby="specialTypesModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-back" onclick="closeSpecialTypesModal()">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <h5 class="modal-title mx-auto" id="specialTypesModalLabel">Выберите тип спецтехники</h5>
                <button type="button" class="btn btn-outline-secondary btn-sm sbros" onclick="resetSpecialTypeFilter()">
                    Сбросить
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group" id="specialTypesModalList">
                    {% include "shop/partials/mobile_special_types_modal_list.html" %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" onclick="applySpecialTypeFilter()">Применить</button>
            </div>
        </div>
    </div>
</div>