<div class="modal fade" id="truckTypesModal" tabindex="-1" aria-labelledby="truckTypesModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-back" onclick="closeTruckTypesModal()">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <h5 class="modal-title mx-auto" id="truckTypesModalLabel">Выберите тип техники</h5>
                <button type="button" class="btn btn-outline-secondary btn-sm sbros" onclick="resetTruckTypeFilter()">
                    Сбросить
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group" id="truckTypesModalList">
                    {% include "shop/partials/mobile_truck_types_modal_list.html" %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" onclick="applyTruckTypeFilter()">Применить</button>
            </div>
        </div>
    </div>
</div>